.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(194, 125, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  font-size: 26px;
  text-align: center;
  line-height: 1.5;
  padding: 0px 20px;
  display: none;
  z-index: 4;
}

.bigScreen .bigScreen__link {
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 550px) {
  .bigScreen {
    display: flex;
  }
}
